/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.fullWidth {
  width: 100%;
}

mat-card {
  min-width: 22%;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.alignRight {
  flex: 1 1 auto;
}

.coins-container {
  display: flex;
  flex-flow: row wrap;
}
